/************************/
/* variables            */
/************************/

:root {
  --udm_original: rgb(0, 89, 171);
  --udm-lighter-color: rgb(153, 199, 242);
  --udm-even-lighter-color: rgb(204, 229, 255) 
}

body {
  padding-top: 42px;
  width: 100%;
  margin: 0;
}
p {
  font-size: 16px;
  width: 85%;
  color: var(--udm_original);
}
h1 {
  color: var(--udm_original);
  margin: 0.07em 0;
}
h2 {
  font-size: 25px;
  color: rgb(0, 89, 171);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 16px;
  color: var(--udm_original);
  font-family: Arial, Helvetica, sans-serif;
  align-content: flex-start;
  margin: 0.07em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
td {
  padding: 1px;
}
.center {
  text-align: center;
  text-justify: center;
}
.right {
  text-align: righ;
  text-justify: center;
}
.table-titre{
  margin-left: 110px;
  margin-bottom: 10px;
  width: 85%;
}
.td-titre{
     border-bottom: 2px solid rgb(0, 89, 171);
  }
.MB{
  position: fixed;
  bottom: 0;
  width:100%;
  margin:0;
  font-style: italic;
  font-size: 12px;
  background-color: rgb(221, 214, 214);
  justify-content: center;
  text-align: center;
 }

.header-main {
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: white;
  width: 100%;
  margin:0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main-logo {
  width: fit-content;
  height: 50%;
  display: flex;
}

.header-main-logo img {
  height: 50px;
  align-self: center;
}

.header-main-nav {
  width: 820px;
  height: 25px;
  border-radius: 50px;
  background-color: white;
  align-items: center;
}

/*.header-main-nav ul {
  list-style: none;
  align-items: center;
  margin: auto;
}

.header-main-nav ul li {
  display: inline;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

.header-main-nav ul li a {
  padding: 10px;
  text-decoration:none ;
  color: rgb(153, 199, 242);
  transition: color 0.3s;
}
.header-main-nav ul li a::after{
content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: black;
  transition: width 0.3s;  
}

.header-main-nav ul li a:hover::after {
  color: rgb(0, 89, 171); 
  width:100%;
}
*/
/* new nav bar class */
nav ul {
  list-style: none;
  padding: 0;
  display:flex;
}

nav li {
  position: relative;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: var(--udm-lighter-color);
  padding: 10px;
  transition: color 0.3s;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 89, 171);
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}
nav a:hover {
  color: rgb(0, 89, 171);
}
/********************/
/* social media     */
/********************/

.header-main-sm {
  width: fit-content;
  height: 50px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-main-sm-li {
  width: 8px;
  height: 8px;
  background-image: url(/Images/icons8-linkedin-circled-30.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.header-main-sm-bs {
  width: 8px;
  height: 8px;
  background-image: url(/Images/icons8-bluesky-24.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.header-main-sm :hover {
  cursor: pointer;
}
/*************************/
/* home page main grid    */
/*************************/

.grid-container {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 4fr, 1fr;
  grid-template-areas:
    "texte img1"
    "texte img2";
  padding-right: 110px;
  padding-left: 110px;
  padding-bottom: 20px;
}
.item1 {
  grid-area: texte;
  color: var(--udm-original);
  align-items: right;
  
}
.item2 {
  grid-area: img1;
  padding-top: 50px;
  align-items: left;
}
.item3 {
  grid-area: img2;
  align-items: left;
}
/**************************/
/* publication grid        */
/**************************/
.publication-grid-container {
  display: grid;
  width:65%;
  grid-template-rows: 25px 1fr 20px; 
  grid-template-columns: 200px, 500px;
  padding-right: 110px;
  padding-left: 110px;
  padding-bottom: 70px;
}
.publication-image {
  border-right: 2px solid var(--udm-original);
  padding-right: 20px ;
  grid-row-start:1 ;
  grid-row-end: 3 ;
  grid-column-start:1 ;
  grid-column-end:1 ;
}
.publication-titre {
  font-size: 20px;
  color: var(--udm_original);
  font-weight: 700;padding-left: 20px;
  white-space: nowrap;
  grid-row-start:1 ;
  grid-row-end: 1 ;
  grid-column-start:2 ;
  grid-column-end: 2;
}
.publication-abstrack {
  color: var(--udm_original);
  padding-left: 30px;
  grid-row-start:2 ;
  grid-row-end: 2 ;
  grid-column-start:2 ;
  grid-column-end: 4;
}
.publication-lien {
  color: var(--udm_original);
  padding-left: 30px;
  grid-row-start:3 ;
  grid-row-end: 3 ;
  grid-column-start:2 ;
  grid-column-end: 4;
  }
/*************************/
/* Contact us grid    */
/*************************/

.grid-contact-grid{
  display: grid;
  width:65%;
  grid-template-rows: 20px, 20px; 
  grid-template-columns: 400px, 400px;
  padding-right: 110px;
  padding-left: 110px;
  padding-bottom: 20px;
}
.francais{
  grid-row-start:1 ;
  grid-row-end: 1 ;
  grid-column-start:1 ;
  grid-column-end: 1;
  display: grid;
  background-color:aqua;
}
.anglais{
  grid-row-start:1 ;
  grid-row-end: 1 ;
  grid-column-start:2 ;
  grid-column-end: 2;
  display: grid;
  background-color:yellow;
}
/*************************/
/* home page footer grid    */
/*************************/

.grid-footer {
  width: 82%;
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 110px;
  border-top: 2px solid var(--udm-original);
  grid-template-rows: 1fr;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-areas: "logo-udm logo-iugm adresse";
}
.footer.item1 {
  grid-area: logo-udm;
  align-items: right;
}
.footer-item2 {
  grid-area: logo-iugm;
  align-items: right;
  border: 2px solid black ;
  }
.footer-item3 {
  grid-area: adresse;
  align-items:left;
  }

/*************************/
/* team main grid    */
/*************************/

.team-grid-container {
  display: grid;
  width: fit-content ;
  grid-template-columns: 80px, 80px 400px ;
  grid-template-rows: 80px, 80px, 80px ;
    grid-template-areas:
    "photo photo nom "
    "photo photo description "
    "filler2 descriptions description1" ;
  padding-right: 110px;
  padding-left: 110px;
  border-top: 2px solid var(--udm-original);
}
.item-photo {
  grid-area: photo;
  
}
  .item-nom {
  grid-area: nom;
  width:300px;
  background-color: aqua;
  border-radius: 10px;
  }
.item-description{
  grid-area: description;
  background-color: blue;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  }
.item-description1{
  grid-area: description1;
  background-color: blue;
  color: white; 
  border-bottom-right-radius: 12px ;
}
.item-descriptionss{
  grid-area: descriptions;
  background-color: blue;
  color : white; 
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  }

.item-filler2{
  grid-area:filler2;
  background-color: pink;
}
/***********************/
/* funding main grid   */
/***********************/
.funding-grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding-right: 110px;
  padding-left: 110px;
  padding-bottom: 40px;
   align-items: start;
}
.grid-item-image {
  max-width: 100%;
  height: auto;
}

.org-titre {
  
  line-height: 1; /* Adjust the line height for better readability */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align text content in the center of the grid item */
}
.org-desc {
  font-style: italic;
  padding-left: 30px;
  color: var(--udm_original) ;
  grid-row-start:2 ;
  grid-row-end: 2 ;
  grid-column-start:2 ;
} 

.heroes {
  height: 200px;
  Width:100%;
  background-image: url("Images/background.png");
  background-repeat: none;
  background-position: left;
  opacity: 1;
}
.image_contact{
  height: 200px;
  Width:100%;
  background-image: url("Images/iugm-photo.png");
  background-repeat: none;
  background-position: left;
}
.funding-image {
  height: 200px;
  Width:100%;
  background-image: url("Images/funding_banner.jpg");
  background-repeat: none;
  background-position: left;
}
.news-image {
  height: 200px;
  Width:100%;
  background-image: url("Images/banner-news.jpg");
  background-repeat: none;
  background-position: left;
}
.image_fond{
  height: 200px;
  width:100%;
  margin:0;
  background-repeat: none;
  background-position: left;
  }

/*************************************/
/* bouton pour le detail des membres */
/*************************************/

.link-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: dotted;
  border-color: aqua;
  border-radius: 5px;
  cursor: pointer;
}
.link-button:hover {
  background-color: #0056b3;
}

.desc-perso {
  display: flex;
  background-color: rgb(0, 89, 171);
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  opacity: 45;
}

/*************************************/
/* slide in                          */
/*************************************/

.slide-in {
  position: absolute;
  top: 11%;
  padding-left: 20px;
  width: 500px;
  height: 125px;
  border-radius: 8px;
  background-color: rgb(0, 89, 171, 0.7); /* Semi-transparent background color */
  color: white;
  display: flex;
  
  text-align: left;
  animation: slideIn 1s ease-out 0.5s forwards; /* Adjust the delay (0.5s) and animation duration (1s) as needed */
  opacity: 0;
}
.blanc{color:white}

@keyframes slideIn {
  from {
    transform: translateX(500%);
    opacity: 0;
  }
  to {
    transform: translateX(600px);
    opacity: 1;
  }